<h1>Editing Book</h1>
<%= form_with model: @book, url: update_list_path(@book.id), method: :patch do |f| %>

  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>

  <div class="field">
  <%= f.label :body %>
  <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Show", "/books/#{@book.id}" %>|
<%= link_to "Back", "/books" %>