<p id="notice"><%= notice %></p>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @book.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to "Show", "/books/#{book.id}" %></td>
        <td><%= link_to "Edit", "/books/#{book.id}/edit" %></td>
        <td><%= link_to "Destroy", "/books/#{book.id}", method: :delete, "data-confirm" => "Are you sure?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="+HS/uzLe5G4/VR1ooLPUiDLFZ+SMs3BJS5y/PTq0fvMJ+jf4+Rag9mpJ/Xb6WNVHIAubeWXMRhNU87OPzwpV3A==">

<%= form_with model: @book, url: "/books",method: :post do |f| %>
  <div class="field">
  <label for="book_title">Title</label>
  <%= f.text_field :title %>
  </div>
  <div class="field">
  <label for="book_body">Body</label>
  <%= f.text_area :body %>
  </div>
  <div class="actions">
  <%= f.submit 'Create Book' %>
  </div>
<% end %>

</form>
</body></html>